<p>
We'll connect you with a Google executive, and keep connecting you to people until you hang up. When they answer, please be polite, and say:
</p>

<p>
I’m calling because Google's employees and customers expect the company to stand strong for an open Internet. Supporting Net Neutrality on paper isn't enough: We need Google to lobby as hard in support of Net Neutrality as Comcast and other ISPs are lobbying against it. Now. Or else we risking losing the open Internet forever.
</p>

<p>
<em>Some of these employees aren’t used to getting calls from the public — and might express surprise at hearing from you.  And that’s part of why this tactic is effective.</em>
</p>